{% extends "base.html" %} 

<!--extend the functionality from the header of the parent component.-->
{% block head %}
    {{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/contact.css') }}">
{% endblock %}

{% block content %}
  <div class="container">

    <h2>Contact</h2>

    <h3>Feel free to ask me anything. No hard feelings.</h3>
  
    {% if success %}
      <p>Thank you for your message. We'll get back to you shortly.</p>
    {% else %}
  
      {% for message in form.name.errors %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
  
      {% for message in form.email.errors %}
        <div class="flash">{{ message }}</div>
      {% endfor %}

      {% for message in form.message.errors %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
  
      <form action="{{ url_for('contactMe') }}" method=post>
        {{ form.hidden_tag() }}
  
        {{ form.name.label }}
        {{ form.name }}
  
        {{ form.email.label }}
        {{ form.email }}
  
        {{ form.message.label }}
        {{ form.message }}
  
        {{ form.submit }}
      </form>
    {% endif %}
    </div>
{% endblock %}
