{% extends "base.html" %}

<!--extend the functionality from the header of the parent component.-->
{% block head %}
    {{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/aboutme.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Francois+One&family=Kalam:wght@700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-10">
            <h1> ABOUT </h1>
        </div>
        <div class="col-5">
            <img id="me-image" src="{{url_for('static', filename='../images/me.jpg')}}" alt="image of me"/>
        </div>
        <div class="col-5">
            <p>Hi, my name is Andreea. Welcome to my blog. I can't tell you how happy it makes me that you ended up on my page.</p>
            <p>First things first, some things about me, I am a woman in her 20's interested in technology and cooking yummy food.</p>
            <p>When comes to cooking my main interest is baking yummy cakes. I love cakes and I made this blog both so that I learn new technologies as well as sharing with yous some of my favourite recepies as well as cooking/baking tips and tricks</p>
        </div>
        <div class="w-100"></div>
        <div class="col-5">
            <p>Hi, my name is Andreea. Welcome to my blog. I can't tell you how happy it makes me that you ended up on my page.</p>
            <p>First things first, some things about me, I am a woman in her 20's interested in technology and cooking yummy food.</p>
            <p>When comes to cooking my main interest is baking yummy cakes. I love cakes and I made this blog both so that I learn new technologies as well as sharing with yous some of my favourite recepies as well as cooking/baking tips and tricks</p>
        </div>
        <div class="col-5">    
            <p>Hi, my name is Andreea. Welcome to my blog. I can't tell you how happy it makes me that you ended up on my page.</p>
            <p>First things first, some things about me, I am a woman in her 20's interested in technology and cooking yummy food.</p>
            <p>When comes to cooking my main interest is baking yummy cakes. I love cakes and I made this blog both so that I learn new technologies as well as sharing with yous some of my favourite recepies as well as cooking/baking tips and tricks</p>        
        </div>
    </div>
</div>
{% endblock %}
