#me-image {
    width: 100%;
}

.container{
    padding-top: 75px;
}

p{
    font-family: 'EB Garamond', serif;
    font-size: 20px;
}

h1{
    font-family: 'Amatic SC', cursive;
    font-family: 'Francois One', sans-serif;
    font-family: 'Kalam', cursive;
}