{% extends "base.html" %}
{% block content %}
<!-- Main Content -->
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
      {% for post in posts %}
        <div class="post-preview">
          <a href="{{ url_for('blog_bl.displayPost', post_id=post.id) }}">
            <h2 class="post-title">
              {{ post.blog_title }}
            </h2>
          </a>
          <p class="post-meta">Posted by {{ post.author }} on {{ post.date_posted.strftime('%B %d, %Y') }}</p>
        </div>
        {% endfor %}
        <hr>
      </div>
    </div>
</div>
{% endblock %}