<!doctype html>
<html>
<head>
    {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('general_blueprint.static',filename='css/base.css') }}">
        <title>{% block title %}Cook With Me{% endblock %}</title>
    {% endblock %}
</head>
<body>
        {% if current_user.is_authenticated %}
        Hi {{ current_user.name }}!
      {% endif %}
    <nav class="navbar navbar-custom navbar-expand-md">
        <div class="collapse navbar-collapse" id="navbarCollapse">
           <div class="navbar-nav">
                <a class="nav-item active nav-link" href="{{ url_for('general_blueprint.home') }}">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{{ url_for('blog_blueprint.displayBlog') }}">Blog<span class="sr-only">(current)</span></a> 
                <a class="nav-item nav-link" href="{{ url_for('recepies_blueprint.recepies') }}">Recepies<span class="sr-only">(current)</span></a> 
            </div>
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="{{ url_for('about_blueprint.aboutMe') }}">About<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{{ url_for('contact_blueprint.contactMe') }}">Contact<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{{ url_for('faqs_blueprint.faqs') }}">FAQS<span class="sr-only">(current)</span></a>    
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <div class="footer">
        {% block footer %}
        <footer id="sticky-footer" class="page-footer font-small white">
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
               <a href="https://cookwithme.com/"> cookwithme.com</a>
            </div>
        </footer>
        {% endblock %}
    </div>    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>



